
@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>

    <div>
       
        <header class="container-fluid">
            <div id="header" class="container">

                <div>
                    <h1 class="headertitle">yogaRx</h1>

                </div>
            </div>

        </header>
    </div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" id="photo">
        <div class="container">


        </div>

    </div>
</div>

<div class="row">
    <div class="col-lg-6" align="center">
        <map name="bodyparts">
            <area shape="rect" alt="head" coords="74,53,93,7" href="@Url.Action("HeadFilter","Ailments")" />
            <area shape="rect" alt="trunk" coords="53,63,114,178" href="@Url.Action("TrunkFilter","Ailments")" />
            <area shape="rect" alt="legs" coords="50,178,121,335" href="@Url.Action("LegFilter","Ailments")" />
            <area shape="rect" alt="leftArm" coords="10,191,51,63" href="@Url.Action("ArmFilter","Ailments")" />
            <area shape="rect" alt="rightArm" coords="116,163,164,61" href="@Url.Action("ArmFilter","Ailments")" />

        </map>
        <center><img src="~/Content/images/body.png" usemap="bodyparts" /></center>
        <font class="frontext">Select region</font>
        <br>
        <br>

    </div>
    <div class="col-lg-6"align="center">
       
        @foreach (yogaRx.Models.Ailment item in ViewBag.AilList)
        {




                @*<td>
                        @Html.DisplayFor(modelItem => item.AilmentDesc)
                    </td>*@
                <div  >
                      @Html.ActionLink(item.AilmentName, "Details", "Ailments", new { id = item.AilmentId }, new { @class= "linktext" } )
                </div>
                
            
        }
    </div>
</div>
 
  


    <div class="body-content container">
        <div class="row">
            <div class="col-lg-6">
                <h6>Disclaimer </h6>
                <p id="disclaimer"> YogaRx is not a replacement for any medically prescribed regimen, nor are we responsible for any injuries. Please see your medical doctor for proper care and diagnosis. Use YogaRx at your own discretion.</p>
            </div>
        </div>
     </div>
<!--This is a change-->
  