@model yogaRx.Models.Pose

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pose</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Pose Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoseName)
        </dd>

        <dt>
           Pose Description 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoseDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>
       
            <div>

                @Html.RadioButtonFor(x => x.Ratings, "Positive", new { htmlAttributes = new { @class = "form-control" } })
                @Html.RadioButtonFor(x => x.Ratings, "Negative", new { htmlAttributes = new { @class = "form-control" } })

                @*$("a.voteup").click(function(){
                $.get("updatescore.php", {"id":"112","score":"1"}, function(response){
                /* Do something with the response */
                });
                });*@

            </div>
        

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.PoseId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>


<script src="~/Scripts/jquery-3.1.0.min.js"></script>