@model yogaRx.Models.Pose

@{
    ViewBag.Title = "Details";
}

<link href="~/Content/Images.css" rel="stylesheet" />



<div>
    <h2>@Html.DisplayFor(model => model.PoseName)</h2>
    <hr />
    <dl class="dl-horizontal">
    
        <dd>
            @Html.DisplayFor(model => model.PoseName)
        </dd>

        <dd>
            @Html.Raw(Model.PoseDesc)
        </dd>

        @if (Model.Photo != null)
        {
            <dd>
                <img class="photosize" src="@Url.Content(Model.Photo)" />
                @if (Model.Photo1 != null)
                {
                    <img class="photosize" src="@Url.Content(Model.Photo1)" />
                }
            </dd>
        }
        


    </dl>
    @using (Html.BeginForm("Favorite", "Manage", "Post"))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("PoseId", Model.PoseId)
        <input type="submit" value="Favorite" />
    }


</div>

        <p>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.PoseId }) |*@
            @Html.ActionLink("Back to List", "Index")
        </p>


        <script src="~/Scripts/jquery-3.1.0.min.js"></script>
