@model yogaRx.Models.Pose

@{
    ViewBag.Title = "Details";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>Details</h2>

<div>
    <h4>Pose</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Pose Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoseName)
        </dd>

        <dt>
            Pose Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoseDesc)
        </dd>

        <dt>
            Photo
        </dt>
        @if (Model.Photo != null)
        {
            <dd>
                <img class="photosize" src="@Url.Content(Model.Photo)" />
                @if (Model.Photo1 != null)
                {
                    <img class="photosize" src="@Url.Content(Model.Photo1)" />
                }
            </dd>
        }


    </dl>
    @using (Html.BeginForm("Favorite", "Manage", "Post"))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("PoseId", Model.PoseId)
        <input type="submit" value="Favorite" />
    }


</div>

        <p>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.PoseId }) |*@
            @Html.ActionLink("Back to List", "Index")
        </p>


        <script src="~/Scripts/jquery-3.1.0.min.js"></script>
