@model yogaRx.Models.Ailment

@{
    ViewBag.Title = "Details";
}
<link href="~/Content/Images.css" rel="stylesheet" />
<h2>Details</h2>

<div>
    <h4>Ailment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ailment
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AilmentName)
        </dd>
    </dl>
    @*<dt>
            @Html.DisplayNameFor(model => model.AilmentDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AilmentDesc)
        </dd>*@

    @foreach (yogaRx.Models.Pose item in ViewBag.Poses)
    {
        @*if (item.Score != null)
        {
            <div> @item.Score  </div>
         
        }*@


        if (item.Photo != null)
        {
        <img class="small" src="@Url.Content(item.Photo)" />
        }

        <div>
            @Html.ActionLink(item.PoseName, "Details", "Poses", new { id = item.PoseId }, null)
        </div>
    }
    @{
        ViewBag.SelectablePoses = from item in Model.Poses
                                  select item;

        ViewBag.PoseList = new SelectList(ViewBag.SelectablePoses, "PoseId", "PoseName");
    }
 
    Write a comment:
    @using (Html.BeginForm("PostComment", "Manage","Post" ))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("AilmentId", Model.AilmentId)

        <div class="form-group">
            @Html.LabelFor(model => model.Poses, "Poses", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PoseList", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Poses, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-10">
                <span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>@Html.RadioButton("SymbolRating", "1", new { htmlAttributes = new { @class = "form-control" } })
                <span class="glyphicon glyphicon-thumbs-down">&nbsp;</span>@Html.RadioButton("SymbolRating", "-1", new { htmlAttributes = new { @class = "form-control" } })
            </div>

             @*@Html.TextBoxFor(m => m.Poses, new { @class = "form-control" })*@
            <label for="comment">Comment:</label>
            <textarea type="Text" name="TextReview" class="form-control" rows="5" id="comment"></textarea>
            <input type="submit" />
        </div>

        

    }
    <div>
        @foreach (var pose in Model.Poses)
        {
            foreach (var rating in pose.Ratings)
            {
                if (rating != null)
                {
                    <div class="commentbox">

                        <b> @rating.User.UserName</b> said:<p>
                        @rating.TextReview
                    </div>


                }
            }
        }
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AilmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>