@model yogaRx.Models.Ailment

@{
    ViewBag.Title = "Details";
}




<div>
    <h2>@Html.DisplayFor(model => model.AilmentName)</h2>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            Ailment
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AilmentName)
        </dd>*@
    </dl>
    
    @foreach (yogaRx.Models.Pose item in ViewBag.Poses)
    {


        if (item.Photo != null)
        {
        <img class="small" src="@Url.Content(item.Photo)" />
        }

        <div>
            @Html.ActionLink(item.PoseName, "Details", "Poses", new { id = item.PoseId }, null)
        </div>
    }
    @{
        ViewBag.SelectablePoses = from item in Model.Poses
                                  select item;

        ViewBag.PoseList = new SelectList(ViewBag.SelectablePoses, "PoseId", "PoseName");
    }
 
    Write a comment:
    @using (Html.BeginForm("PostComment", "Manage","Post" ))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("AilmentId", Model.AilmentId)
        
        <div class="form-group">
            @Html.LabelFor(model => model.Poses, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PoseList", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Poses, "", new { @class = "text-danger" })
            </div><br/>


         

            
                <div class="form-group">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="pdsa-radiobutton btn btn-primary active">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            @Html.RadioButton("SymbolRating", "1", new { htmlAttributes = new { @class = "form-control" } })
                        </label>
                        <label class="pdsa-radiobutton btn btn-primary">
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                            @Html.RadioButton("SymbolRating", "-1",
              new { htmlAttributes = new { @class = "form-control" } })
                        </label>
                    </div>
                </div>
            
     

             @*@Html.TextBoxFor(m => m.Poses, new { @class = "form-control" })*@
            <label for="comment">Comment:</label>
            <textarea type="Text" name="TextReview" class="form-control" rows="5" id="comment"></textarea>
            <input type="submit" />
        </div>

        
    }
    <div>
        @foreach (var pose in Model.Poses)
        {
            foreach (var rating in pose.Ratings)
            {
                if (rating != null)
                {
                    if (rating.TextReview != "")

                    {
                    
                         <u><b> @rating.User.UserHandle</b>  said:</u>
                        
                            <div class="commentbox">

                                @rating.TextReview

                                
                            </div>



                        }
                    }
            }
        }
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AilmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>