@model yogaRx.Models.Ailment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ailment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AilmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AilmentName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.AilmentDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AilmentDesc)
        </dd>*@
        
        @foreach (var item in Model.Poses)
        {
        <div>
            
            @Html.ActionLink(item.PoseName,"Details", "Poses", new { id = item.PoseId }, null)
        </div>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AilmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>